.colors-block {
	display: flex;
	flex-direction: column;
}

.preview-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
	.preview-block {
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
}