.photo-container {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.photo-image {
	width: 100%;
	height: auto;
}

.photo-container .time-span, .photo-container .heart-rate-span {
	position: absolute;
	text-align: center;
}