/* Navigation bar */
#navigation-bar {
	position: fixed;
	width: calc(100% - 60px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: white;
}

#logo {
	vertical-align: flex-start;
	width: 40px;
}

#navigation-buttons {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.menu-item {
	color: black;
	font-size: 14px;
	margin-right: 20px;
	cursor: pointer;
}

.navigation-dropdown {
	position: relative;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.navigation-dropdown > span:first-child {
	margin-right: 5px;
}

.dropdown-menu {
	visibility: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 30px;
	border-top: 2px solid rgb(170, 210, 54);
	background-color: white;
	box-shadow: 0 2px 5px #ccc;
	padding: 20px;
	transition: all .2s;
}

.dropdown-menu > span {
	padding: 10px;
}

.dropdown-menu > span:not(:first-child) {
	border-top: 1px solid #ccc;
}

#demo-pages {	
	width: 200px;
}

#demo-pages:hover > .dropdown-menu, #demo-pages:active > .dropdown-menu {
	visibility: visible;
}