/* Section one */
#section-one {
	background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	flex-grow: 1;
	min-height: 700px;
	padding: 0px 20%;
	margin: 0px;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#section-one .section-heading {
	letter-spacing: 8.8px;
	line-height: 1.2;
}

#section-one .section-description {
	font-size: 14px;
	margin-top: 20px;
}