/* Section two */
#section-two {
	min-height: 600px;
	flex-wrap: wrap;
	flex: 1 0 25%;
	margin: 0px;
}

#section-two > article {
	width: calc(25% - 100px);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	color: white;

	padding: 50px;
}

#section-two-step-one {
	background-color: #5acda6;
}

#section-two-step-two {
	background-color: #91ac41;
}

#section-two-step-three {
	background-color: #e4b476;
}

#section-two-step-four {
	background-color: #f69dad;
}

.step-icon {
	width: 96px;
	font-size: 96px;
	transition: all .2s ease-in-out;
	margin-top: 50px;
}

.step-icon:hover {
	transform: scale(1.1);
}

.step-label {
	font-size: 24px;
	margin: 20px 0px;
}

.step-description {
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	font-weight: 400;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	#section-two {
		flex: 1 0 100%;
	}

	#section-two > article {
		width: calc(100% - 100px);
	}
}