* {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

html, body {
	margin: 0px;
	width: 100%;
}

main {
	display: flex;
	flex-direction: column;
}

.section {
	display: flex;
	justify-content: flex-start;
	margin: 25px;
}

.section-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 50px;
}

.section-heading {
	font-size: 44px;
}

.section-description {
	font-size: 16px;
	font-weight: 500;
	color: #8b8b99;
	letter-spacing: 0.5px;
}

.section-input {
	margin-top: 20px;
	border: none;
	padding: 15px;
	color: #8b8b99;
	border-radius: 5px;
	font-weight: 400;
}

.green-fresh-text {
	color: #91ac41;
	font-size: 24px;
	font-family: 'Caveat', cursive;
	margin: 0;
	margin-top: 35px;
}

.green-button {
	font-size: 12px;
	color: white;
	background-color: rgb(170, 210, 54);
	padding: 9px 34px;
	border-radius: 4px;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
}

#page-footer {
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	text-align: center;
	font-weight: 400;
}