.heart-rate-span {
	font-size: 1.5em;
	font-weight: 500;
	color: white;
	display: flex;
	flex-direction: column;
}

.heart-rate-span > img {
	width: 35px;
}

@media only screen and (min-width: 768px) {
	.heart-rate-span {
		font-size: 2em;
	}
	
	.heart-rate-span > img {
		width: 60px;
	}
}